<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DrillBase.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DC59A5D51F538E67007CF44A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC59A5E91F538E68007CF44A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC59A5F41F538E68007CF44A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
